<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Address Book Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1 class="text-center">Address Book of Friends</h1>
    <hr>
    <h2>Add Friend</h2>

    <form action="#" th:action="@{/friend/v1/add-friend}" th:object="${addressBookDao}" method="POST">
        <input type="text" th:field="*{name}" id="name" placeholder="Name" class="form-control mb-4 col-4" required>

        <input type="text" th:field="*{phoneNumber}" id = "phoneNumber" placeholder="Phone Number" class="form-control mb-4 col-4"
               pattern="[6-9]{1}[0-9]{9}" required>


        <fieldset>
            <legend>Pick AddressBook:</legend>

            <div>
                <input type="radio" id="addressBookName1" name="addressBookName1" th:field="*{addressBookName}"
                       value="AddressBook1" checked required>
                <label for="addressbook1">AddressBook1</label>
            </div>

            <div>
                <input type="radio" id="addressBookName2" name="addressBookName2" th:field="*{addressBookName}"
                       value="AddressBook2">
                <label for="addressbook2">AddressBook2</label>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-warning btn-bg mb-3">Save Friend</button>
    </form>

    <hr>

    <a th:href="@{/friend/v1/get-all-friends}"> Back to Friend List</a>
</div>
</body>

</html>