<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Address Book Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1 class="text-center">Address Book Of Friends</h1>
    <hr>
    <h2>Display Friends By AddressBook </h2>

    <form action="#" th:action="@{/friend/v1/get-all-friends-by-addressbook-name}" th:object="${addressBookDao}" method="GET">

        <!-- <input type="text" th:field="*{addressBookName}" placeholder="Address Book Name" class="form-control mb-4 col-4" required>
 -->
        <fieldset>
            <legend>Pick AddressBook:</legend>

            <div>
                <input type="radio" id="addressbook1" name="addressbookname" th:field="*{addressBookName}"
                       value="AddressBook1" checked="checked" required>
                <label for="addressbook1">AddressBook1</label>
            </div>

            <div>
                <input type="radio" id="addressbook2" name="addressbookname" th:field="*{addressBookName}"
                       value="AddressBook2">
                <label for="addressbook2">AddressBook2</label>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-warning btn-bg mb-3">Submit</button>
    </form>

    <hr>

    <a th:href="@{/friend/v1/get-all-friends}"> Back to Friend List</a>
</div>
</body>

</html>
