<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address Book Of Friends</title>
<!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1 class="text-center">Address Book of Friends</h1>

    
    <h2>Display List</h2>
    <table border="1" class="table table-striped table responsive-md bg-secondary text-white" >
        <thead>
        <tr>
            <th >Name</th>
            <th>Phone Number</th>
            <th>Address Book Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact:${addressBookList}">
            <td th:text="${contact.name}"></td>
            <td th:text="${contact.phoneNumber}"></td>
            <td th:text="${contact.addressBookName}"></td>
        </tr>
        </tbody>
    </table>
    
    
    <a th:href="@{/friend/v1/display-add-friend-form}" class="btn btn-warning btn-sm mb-3"> Add Friend</a>
    <a th:href="@{/friend/v1/display-friend-form-by-addressbook}" class="btn btn-warning btn-sm mb-3"> Show Friends By AddressBook</a>
    <a th:href="@{/friend/v1/get-all-unique-friends}" class="btn btn-warning btn-sm mb-3">Show Unique Friends From AddressBooks</a>
        
</div>
</body>
</html>
